{% extends 'products/base.html' %}

{% block content %}
<section>
    <div class="container pt-5">
        <div class="text-center mt-5">
            <h1>{{ title }}</h1>
            <div class="orders mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for purch_item in object.basket_history.purchased_items  %}
                        <tr>
                        <th scope="row">
                            {{ purch_item.product_name }}
                        </th>
                        <td> {{ purch_item.quantity }} </td>
                        <td> {{ purch_item.price }} руб.</td>
                        <td> {{ purch_item.sum }} руб.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="float-right h4 mt-3"> {{ object.basket_history.total_sum }} руб.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}